<section>
  <header>
    <h2>English improver 3000</h2>
    <div class="menu">Jambuirger</div>
  </header>
  <div class="game-container">
    <div class="game-menu">
      <b class="game-user">Invitado</b>
      <div class="game-menu-option">
        <div class="arrow"></div>
        Idioma
      </div>
      <div class="game-menu-option">
        <div class="arrow"></div>
        Perfil
      </div>
      <div class="game-menu-option">
        <div class="arrow"></div>
        Nuevo Juego
      </div>
      <div class="game-menu-option">
        <div class="arrow"></div>
        Mis palabras
      </div>
      <div class="game-menu-option">
        <div class="arrow"></div>
        Rankings
      </div>
    </div>
    <div class="game-content">
      <ng-content></ng-content>
    </div>
  </div>
</section>
