/* You can add global styles to this file, and also import other style files */

:root {
  color-scheme: light dark;
  --text-color: #EEEEEE;
  --background-color: #201E43;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
}
